/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    font-family: 'Tinos', serif;
    padding-top: 220px; /* Adjusted for fixed navbar height */
}

/* Logo Styling */
.navbar .logo {
    height: 200px;
    width: auto;
}

/* Buttons */

.custom-button-filled {
    border: 2px solid var(--highlight-color);
    background-color: var(--highlight-color);
    color: white;
}

.custom-button-filled:hover {
    border: 2px solid var(--secondary-color);
    background-color: var(--secondary-color);
    color: white;
}

.custom-button-outline {
    border: 1px solid green;
    padding: 7px 25px;
    background-color: #b3e2b6;
}

.custom-button-outline:hover {
    background-color: #75ba75;
    color: black
}

/* Navigation Bar Styling */
.navbar {
    background-color: #75ba75;
}

.navbar-nav {
    display: flex;
    flex: auto;
    justify-content: end;
    padding: 10px 20px;
    font-size: 40px;
}
/* Header Styling */
.header {
    text-align: center;
    padding: 30px 30px;
    background-color: cornflowerblue;
}

.header h2 {
    font-size: 50px;
    margin-bottom: 20px;
}

.header-image img {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    object-fit: cover;
    margin-bottom: 15px;
    margin-top: 15px;
}

/* About Me Section */
#about-me {
    padding: 50px 20px;
    background-color: #b3e2b6;
    text-align: center;
}



/* Portfolio Section */
#projects {
    padding: 50px 20px;
    background-color: #d9f0d9;
    text-align: center;
}

/* Footer / contact */

#contact {
    background-color: cornflowerblue;
    padding-bottom: 3rem;
}

#contact .social-icons i {
    font-size: 4rem;
    padding: 10px;
    -webkit-transition: color 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
}


#contact .table-primary * {
    background-color: transparent;
}

/* Media queries */

/* Small screens and up */
@media screen and (min-width: 576px) {
    /* increase font size in events table when screen size is large enough */
    #events .table {
        font-size: 1rem;
    }
    .student-discount {
        font-size: 1rem;
    }
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
    /* Make all service cards the same height for consistency */
    #services .card-body {
        min-height: 191px;
    }
}

/* Large devices (small laptops, 992px and up) */
@media screen and (min-width: 992px) {
    /* Make all service cards the same height for consistency */
    #services .card-body {
        min-height: auto;
    }
}

/* xl devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
    /* make all service cards the same height for consistency */
    #services .card-body {
        min-height: 220px;
    }
}

/* xxl devices (larger desktops, 1400px and up) */
@media screen and (min-width: 1400px) {
    /* make all service cards the same height for consistency */
    #services .card-body {
        min-height: 195px;
    }
}