/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    font-family: 'Tinos', serif;
    padding-top: 220px; /* Adjusted for fixed navbar height */
}

/* Logo Styling */
.navbar .logo {
    height: 200px;
    width: auto;
}
/* Navigation Bar Styling */
.navbar {
    background-color: #75ba75;
}

.navbar-nav {
    display: flex;
    flex: auto;
    justify-content: end;
    padding: 10px 20px;
    font-size: 40px;
}
/* Header Styling */
.header {
    text-align: center;
    padding: 30px 30px;
    background-color: cornflowerblue;
}

.header h2 {
    font-size: 50px;
    margin-bottom: 20px;
}

.header-image img {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    object-fit: cover;
    margin-bottom: 15px;
    margin-top: 15px;
}

/* About Me Section */
#about-me {
    padding: 50px 20px;
    background-color: #b3e2b6;
    text-align: center;
}





/* What I Can Do Section */






/* Portfolio Section */
#projects {
    padding: 50px 20px;
    background-color: #d9f0d9;
    text-align: center;
}




/* Contact Section */




/* Footer Styling */


#footer {
    background-color: rgb(133, 171, 240);
    text-align: center;
    padding: 20px 0;
    margin-top: 30px;
}
